@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/components/navbar.sass";

/* Resets */
*{margin: 0; padding: 0;}
a{text-decoration:none; color:inherit; cursor:pointer;}
button{background-color:transparent; color:inherit; border-width:0; cursor:pointer;}
input::-moz-focus-inner {border:0;}
input {box-sizing: border-box;}
input, textarea {outline: none;}
ul, ol, dd{list-style:none;}
h1{margin: 0;} 
h1, h2, h3, h4, h5, h6{font-weight: 700 !important;}
cite {font-style:normal;}
fieldset{border-width:0;}

/* Globals */
:root {
  font-family: "Karla", sans-serif;
  color: #323a45;
  --dark-txt: #323a45;
  --muted-txt: #848484;
}
.container {
  margin: 0 8%;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin-bottom: 50px;
}
.last-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, auto);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin-bottom: 90px;
}
.lg-img-wrap {
  margin-bottom: 50px;
}
img {
  width: 100%;
  height: auto;
  transition: opacity 0.8s ease;
}
img:hover {
  opacity: 0.5;
}
div.product-img {
  margin-bottom: 24px;
}
div.product-info {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: larger;
  margin-bottom: 8px;
}
p.brand {
  font-weight: 700;
  color: var(--muted-txt);
}
.muted {
  color: var(--muted-txt);
}
footer p,
p.brand {
  font-size: large;
}
div.product-info > a:hover > p {
  transition: color 0.8s ease;
}
div.product-info > a:hover > p {
  color: var(--muted-txt);
}
a {
  color: var(--dark-txt) !important; /* Override default framework color */
}

/* nav styles */
header {
  padding: 45px 0;
}
.navbar-brand a {
  font-size: larger;
}
.navbar-item {
  font-weight: 700;
}
a.navbar-item {
  transition: color 0.8s ease;
}
a.navbar-item:hover {
  background-color: transparent !important; /* Framework override */
  color: var(--muted-txt) !important; /* Framework override */
}

/* footer styles */
.footer-grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  grid-template-rows: repeat(300px, auto);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
footer h3 {
  margin-bottom: 50px;
}
footer li {
  margin-bottom: 16px;
}
footer li a {
  font-weight: 700;
  transition: color 0.8s ease;
}
footer li a:hover {
  color: var(--muted-txt) !important;
}
footer p {
  margin-bottom: 16px;
}
div.copyright {
  grid-column: 1 / -1;
}
footer .social {
  padding-left: 20%;
}
footer .copyright {
  font-weight: 700;
  color: var(--muted-txt);
  padding-top: 100px;
}

/* Media queries */

@media only screen and (max-width: 1022px) {
  body {
    margin: 0 2% !important; /* Override framework default margin @ <= 1022px */
  }
}

@media only screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }
  .last-grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
  }
  .footer-grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 100px;
  }
  footer div.social {
    padding-left: 0;
  }
}

@media only screen and (max-width: 576px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, auto);
  }
  .last-grid-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, auto);
  }
  .footer-grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 100px 100px 100px 100px 100px;
  }
  footer h3 {
    margin-bottom: 12px;
  }
}
